<a href="https://colab.research.google.com/github/Viraj0302/music-genre-prediction/blob/main/music-genre-prediction-notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#doing all the commands in seperate cells to differentiate the outputs in each step,

In [7]:
import pandas as pd
music_data= pd.read_csv('/content/music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
#CLEANING THE DATASET
#to seperate the data set into 2 diff. sets- input&output. Since the genre is the output which we will recieve at the end acc. to the gender&age. we seperate it or rather create an input table w/o output
X=music_data.drop(columns=['genre']) #by convention we use X to represent this dataset
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
 #now for the output dataset we use y as a convention. hence,
 y=music_data['genre']
 y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [10]:
#building a model
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier() #an instance of the DTC/ object
model.fit(X,y)
predictions=model.predict([ [21,1],[22,0] ]) #for a random sample data
predictions

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [11]:
from sklearn.model_selection import train_test_split
train_test_split(X,y,test_size=0.2) 
#this returns a tuple which can be unpacked into 4 variables
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)
 #input sets       #output sets

In [12]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train) #passing only the training dataset instead of entire dataset
predictions=model.predict(X_test)# passing passing dataset which contains values for testing instead of passing random datasets like before

In [13]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,predictions)
score

0.75